#root {
  max-width: 100%;
  text-align: center;
  color: rgba(189, 65, 121, 0.51);
}

.logo {
  height: 5em;
  padding: 0em;
}

body, html {
  margin: 0;
  padding: 0;
}

a {
  margin: 20px;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 134, 193);
  padding: 0;
  margin: 0;
}

.image-row {
  display: flex; /* Align images in a row */
  width: 100vw; /* Ensures the container takes up full width of the page */
  height: 300px; /* Adjust based on your needs */
  justify-content: flex-start; /* Aligns images to the left */
  align-items: center; /* Centers images vertically */
  margin-top: 60px; /* Adjust for the fixed navbar */
}

.snail {
  width: 50vw; /* Each image will take up half of the viewport width */
  height: 100%; 
}

footer {
  background-color: rgb(239, 134, 193);; /* Dark background */
  color: #a62a6c;;  /* White text */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; /* Make sure the footer spans the entire width of the page */
}
.container { /* Align images in a row */
  width: 100vw; /* Ensures the container takes up full width of the page */
  height: 300px; /* You can adjust the height based on your needs */ /* Aligns images to the left */
  align-items: center;
  text-align: center; /* Centers images vertically, if desired */
}
