:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #a62a6c;
    text-decoration: inherit;
    transition: text-shadow 0.3s ease;
  }
  a:hover {
    color: #e1d71e;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), /* Outer glow */
                 0 0 20px rgba(255, 255, 255, 0.6), /* Slightly larger glow */
                 0 0 30px rgba(255, 255, 255, 0.4);
  }
  
  body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #e944a440;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }